$pink: #E75D5D;
$soft_pink: #F28C86;

$green: #0CB795;
$soft_green: #6FD6BE;

$white: #FFFFFF;
$warm_white: #FAF3EC;

$black: #000000;
$dark_grey: #7f7f7f;

$red: rgba(212, 0, 0, 0.825);

$colors: (
	'pink': $pink,
	'soft_pink': $soft_pink,
	'green': $green,
	'soft_green': $soft_green,
	'white': $white,
	'red': $red,
);