@use '../../config/colors' as *;

.vb_group_input {
	width: 100%;

	label {
		margin-bottom: 6px;
		display: flex;
		width: 100%;
	}

	.ant-input {
		height: 35px;
		width: 100%;
		padding: 6px 12px;
		transition: 0.3s;

		&:focus,
		&:hover {
			border-color: $soft_pink;
		}

		&::placeholder {
			color: $dark_grey;
		}

	}

}