@use '../../config/colors' as *;

.vb_group_select {
	width: 100%;

	label {
		margin-bottom: 6px;
		display: flex;
		width: 100%;
	}

	.ant-select {
		height: 35px;
		width: 100%;
		padding: 6px 12px;
		transition: 0.3s;

		&:focus,
		&:hover,
		&:active {
			border-color: $soft_pink!important;
			box-shadow: none!important;
		}

		&::placeholder {
			color: $dark_grey;
		}

	}

}