@use '../../config/colors' as *;

.vb_group_select {
	width: 100%;

	label {
		display: flex;
		width: 100%;
		margin-bottom: 6px;
	}

	.ant-select {
		width: 100%;
		height: 35px;

		&:hover {

			.ant-select-selector {
				border-color: $soft_pink !important;
			}
		}

		&-focused {

			.ant-select-selector {
				border-color: $soft_pink !important;
				box-shadow: 0 0 0 2px rgba($soft_pink, 0.15) !important;
			}
		}
	}

	&__error {
		display: block;
		margin-top: 5px;
		color: $red;
		font-size: 12px;
		font-weight: 400;
	}
}

.vb_select_option {
	display: flex;
	align-items: center;
	gap: 8px;

	i {
		color: $pink;
		font-size: 15px;
	}

	span {
		font-size: 14px;
	}
}