.patient_guardian_data {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
	margin-bottom: 30px;

	&__item {
		width: 100%;

		&--half {
			width: calc(50% - 10px);
		}
	}
}

@media (max-width: 768px) {

	.patient_guardian_data {

		&__item {

			&--half {
				width: 100%;
			}
		}
	}
}