//* Config
@use './config/fonts';


//* Components
@use './components/buttons';
@use './components/card';
@use './components/vb_table';
@use './components/inputs/input';
@use './components/inputs/select';
@use './components/inputs/picker';
@use './components/modals/loading_modal';
@use './components/modals/confirm_modal';
@use './components/page_header';
@use './components/page_tools';
@use './components/search_input';
@use './components/empty_state';

//* Layouts
@use './layouts/dashboard_layouts/dashboard_layout';
@use './layouts/dashboard_layouts/header_layout';
@use './layouts/dashboard_layouts/sidebar_menu';
@use './layouts/dashboard_layouts/title_section';

//* Features
@use '../../features/patients/ui/scss/main-patients';

//* Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	padding: 30px;

	@media(min-width: 768px) {
		padding: 0 30px 30px;
	}

}