@use '../mixins/flex_mixin' as *;
@use '../config/colors';

.patients_create {
	width: 100%;

	&__card {

		h2 {
			margin-bottom: 12px!important;
		}

		&__form {
			width: 100%;
			margin-top: 30px;

			&__title {
				width: 100%;
				@include flex-mixin($align: center);

				&--step {
					width: 30px;
					height: 30px;
					border-radius: 100%;
					background-color: colors.$soft_pink;
					color: colors.$white;
					@include flex-mixin($align: center, $justify: center);
					margin-right: 12px;
					font-size: 18px;
					font-weight: 700;
				}

				&__2 {
					margin-top: 30px;
				}
			
			}

		}

	}

}