@use '../config/colors' as *;

.ant-table-wrapper {

	.ant-table {
		border-radius: 12px;
		overflow: hidden;
	}

	th {
		background-color: $soft_pink !important;
		color: $white !important;
		font-weight: 600;

		&::before {
			display: none;
		}
	}

	td {
		vertical-align: middle;
	}

	.ant-table-tbody {

		.ant-table-row {
			transition: background-color 0.2s;

			&:hover {

				.ant-table-cell {
					background-color: rgba($soft_pink, 0.08);
				}
			}
		}
	}

	.ant-pagination {

		&-item {
			border-color: $dark_grey;

			&:hover,
			&-active {
				border-color: $pink;
			}

			a {
				color: $pink !important;
			}
		}

		button {

			svg {
				fill: $pink;
			}
		}
	}
}