@use '../../mixins/flex_mixin' as *;
@use '../../config/colors';

.title_section {
	width: 100%;
	@include flex-mixin($align: center);
	margin-bottom: 16px;

	&--step {
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background-color: colors.$soft_pink;
		color: colors.$white;
		@include flex-mixin($align: center, $justify: center);
		margin-right: 12px;
		font-size: 18px;
		font-weight: 700;
	}


}