@use '../../../../../ui/scss/mixins/flex_mixin' as *;
@use '../../../../../ui/scss/config/colors' as *;
@use 'sass:color';

.patients {
	width: 100%;
	@include flex_mixin($direction: column);

	&__table {
		width: 100%;

		&__count {
			margin: 0;
			font-size: 14px;
			font-weight: 400;

			strong {
				color: $pink;
				font-weight: 600;
			}

		}

	}

}

.patient_mobile {
	width: 100%;
	@include flex_mixin($direction: column, $gap: 12px);

	&__name {
		width: fit-content;
		color: $pink;
		font-weight: 600;

		&:hover {
			color: $soft_pink;
		}

	}

	&__actions {
		@include flex_mixin($align: center, $gap: 6px);

		a,
		button {
			color: $pink;
			font-size: 14px;
			font-weight: 500;

			&:hover {
				color: $soft_pink;
			}

		}

	}

}

.patient_name {
	width: 100%;
	@include flex_mixin($align: center, $gap: 12px);
	text-align: left;

	&:hover {

		.patient_name__text {
			color: $pink;
		}

	}

	&__avatar {
		flex-shrink: 0;
		background-color: color.scale($soft_pink, $lightness: 65%);
		color: $pink;
		font-weight: 600;
	}

	&__text {
		font-weight: 600;
		transition: color 0.2s;
	}

}

.patient_therapy_types {
	@include flex_mixin($align: center, $wrap: wrap, $gap: 6px);

	.ant-tag {
		margin: 0;
		padding: 3px 6px;
		border-radius: 12px;
		font-size: 12px;
		font-weight: 500;
	}

	&__item {
		@include flex_mixin($align: center, $gap: 6px);

		i {
			color: $pink;
			font-size: 13px;
		}

		span {
			font-size: 12px;
		}

	}

}

.patient_status_tag {
	min-width: 90px;
	margin: 0;
	border-radius: 12px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
}

.patient_last_session {
	font-size: 14px;
	font-weight: 500;

	&--empty {
		color: color.scale($dark_grey, $lightness: 35%);
		font-style: italic;
		font-weight: 400;
	}

}