@use '../mixins/flex_mixin' as *;

.vb_page_tools {
	width: 100%;
	@include flex_mixin($align: flex-start, $direction: column);
	margin: 16px 0;

	>*+* {
		margin-top: 12px;
	}

	@media(min-width: 768px) {
		@include flex_mixin($align: center, $justify: space-between, $direction: row, $wrap: wrap);

		>*+* {
			margin-top: 0;
		}

	}

}