@use '../mixins/flex_mixin' as *;

.vb_page_header {
	width: 100%;
	@include flex_mixin($align: flex-start, $direction: column);
	margin-bottom: 16px;

	&__info {

		p {
			margin: 3px 0 0;
		}

	}

	&__actions {
		width: 100%;
		margin-top: 12px;

		.vb_btn {
			width: 100%;
		}

	}

	@media(min-width: 768px) {
		@include flex_mixin($align: center, $justify: space-between, $direction: row);

		&__actions {
			width: auto;
			margin-top: 0;

			.vb_btn {
				width: fit-content;
			}

		}

	}

}