@use '../config/colors' as *;
@use '../mixins/flex_mixin' as *;
@use 'sass:color';

.vb_table {

	.ant-table {
		border-radius: 12px;
		overflow: hidden;
	}

	th {
		background-color: $soft_pink !important;
		color: $white !important;
		font-weight: 600;

		&::before {
			display: none;
		}

	}

	td {
		vertical-align: middle;
	}

	.ant-table-tbody {

		.ant-table-row {
			transition: background-color 0.2s;

			&:hover {

				.ant-table-cell {
					background-color: rgba($soft_pink, 0.08);
				}

			}

		}

	}

	.ant-pagination {

		&-item {
			border-color: $dark_grey;

			&:hover,
			&-active {
				border-color: $pink;
			}

			a {
				color: $pink !important;
			}

		}

		button {

			svg {
				fill: $pink;
			}

		}

	}

	&__link {
		width: fit-content;
		@include flex_mixin($align: center, $gap: 12px);

		&:hover {

			.vb_table__link__text {
				color: $pink;
			}

		}

		&__avatar {
			flex-shrink: 0;
			background-color: color.scale($soft_pink, $lightness: 65%);
			color: $pink;
			font-weight: 600;
		}

		&__text {
			font-weight: 600;
			transition: color 0.2s;
		}

	}

	&__mobile {
		width: 100%;
		@include flex_mixin($direction: column, $gap: 12px);

		&__content {
			width: 100%;
		}

		&__actions {
			width: 100%;
			@include flex_mixin($align: center, $gap: 6px);

			>div {
				@include flex_mixin($align: center, $gap: 6px);

				>a:first-child {
					color: $pink;
				}

			}

		}

	}

}