@use '../config/colors' as *;
@use '../mixins/flex_mixin' as *;
@use 'sass:color';

button {
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.vb_btn {
	width: fit-content;
	height: auto;
	@include flex_mixin($align: center, $justify: center);
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	outline: none;
	padding: 6px 15px;
	
	&:focus {
		box-shadow: none !important;
	}
	
	&.vb_btn-sm {
		padding: 6px 12px;
		font-size: 14px;

		i {
			font-size: 14px;
		}

	}
	
	&.vb_btn-lg {
		padding: 6px 30px;
	}
	
	i {
		margin-right: 10px;
	}
}

.vb-btn-circular {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	@include flex_mixin($align: center, $justify: center);

	svg {
		width: 25px;
		height: 25px;
	}

}

@each $name, $value in $colors {

	.vb_btn--#{$name} {
		background-color: #{$value};
		border: 1px solid #{$value};
		color: $white;
		box-shadow: 0 3px 5px 0 rgba($value, 0.1);

		i {
			color: $white;
		}

		&:hover,
		&:focus,
		&:active,
		&.active,
		&.focus {
			background-color: color.scale($value, $lightness: -10%) !important;
			border-color: color.scale($value, $lightness: -10%) !important;
			color: $white !important;
		}


		&:disabled {
			background-color: color.scale($value, $lightness: 60%) !important;
			border-color: color.scale($value, $lightness: 60%) !important;
			color: $white !important;
			cursor: not-allowed;
		}

	}

	.vb_btn_outline--#{$name} {
		border: 1px solid #{$value};
		color: #{$value};
		background-color: transparent;

		i {
			color: #{$value};
		}

		&:hover,
		&:focus,
		&:active,
		&.active,
		&.focus,
		&:not(:disabled):not(.disabled):active {
			background-color: color.scale($value, $lightness: 60%) !important;
			border-color: #{$value};
			color: $value !important;
			box-shadow: 0 3px 5px 0 rgba($value, 0.1);
		}

		&:disabled {
			background-color: color.scale($value, $lightness: -60%) !important;
			border-color: color.scale($value, $lightness: -60%) !important;
			color: $white !important;
			cursor: not-allowed;
		}

	}

}