@mixin flex_mixin(
	$align: null,
	$justify: null,
	$direction: null,
	$wrap: null,
	$gap: null
) {
	display: flex;

	@if $align !=null {
		align-items: $align;
	}

	@if $justify !=null {
		justify-content: $justify;
	}

	@if $direction !=null {
		flex-direction: $direction;
	}

	@if $wrap !=null {
		flex-wrap: $wrap;
	}

	@if $gap !=null {
		gap: $gap;
	}
}