@use '../../config/colors';
@use '../../mixins/flex_mixin';

.confirm_modal {

	.ant-modal-content {
		border-radius: 12px;
		padding: 30px 12px;
	}

	&__content {
		text-align: center;
	}

	&__icon {
		width: 70px;
		height: 70px;
		border-radius: 100%;
		margin: 0 auto 12px;

		@include flex_mixin.flex_mixin($align: center,
			$justify: center);

		i {
			font-size: 34px;
		}

		&--pink {
			background-color: rgba(colors.$pink, .08);

			i {
				color: colors.$pink;
			}

		}

		&--red {
			background-color: rgba(colors.$red, .08);

			i {
				color: colors.$red;
			}

		}

	}

	h2 {
		margin-bottom: 6px !important;
	}

	&__description {
		line-height: 1.6;
		margin-bottom: 30px;
	}

	&__actions {
		@include flex_mixin.flex_mixin($align: center, $justify: center, $direction: column, $gap: 12px);
		margin-top: 30px;

		button {
			width: 100%;
			min-width: 130px;
		}

	}

	@media(min-width: 576px) {

		.ant-modal-content {
			padding: 30px;
		}

		&__actions {
			flex-direction: row;

			button {
				width: auto;
			}

		}

	}

}