@use '../../mixins/flex_mixin';
@use '../../config/colors';

.loading_modal {

	.ant-modal-container {
		background-color: transparent;
		box-shadow: none;
		@include flex_mixin.flex_mixin($align: center, $justify: center);

		.ant-spin-dot-holder {
			width: 100px;
			height: 100px;
		}

		.ant-spin-dot {
			width: 100px;
			height: 100px;
		}

		.ant-spin-dot-item {
			width: 50px;
			height: 50px;
			background-color: colors.$pink;
		}

	}

}